#btn1,
#btn2 {
  display: flex;
  width: 234px;
  height: 40px;
  padding: 14.5px 32px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
  font-feature-settings:
    "cv04" on,
    "cv03" on;

  /* Paragraph/Medium/Medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%; /* 20.3px */
}

.card {
  column-gap: 16px;
  border-radius: 8px;
  border: 0.5px solid var(--neutral-10, #ccc);
  background: #fff;
  height: fit-content;
  padding: 11px;
}

.btn-wrapper {
  column-gap: 16px;
}

.center {
  row-gap: 8px;
}

#btn2 {
  background-color: #121212;
  color: white;
}

.card-container {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  flex: 1;
}

.title {
  color: var(--neutral-50, #2a2a2a);
  font-feature-settings:
    "cv04" on,
    "cv03" on;

  /* Paragraph/Medium/Medium */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%; /* 20.3px */
}

.meeting-link {
  color: var(--neutral-40, #565656);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
}

.calender {
  display: none;
}

/* Styles for tablets */
@media (min-width: 620px) and (max-width: 1024px) {
  /* Your CSS rules for tablet screens go here */
  .mentor-name {
    color: #008080;
  }

  .title {
    font-size: 16px;
  }

  .center {
    row-gap: 16px;
  }

  .calender {
    display: block;
    flex: 1;
  }
}

/* Styles for desktops */
@media (min-width: 1025px) {
  .mentor-name {
    color: #008080;
  }

  .title {
    font-size: 16px;
  }

  .center {
    row-gap: 16px;
  }

  .card {
    padding: 35.5px 10px 26px 24px;
  }

  .calender {
    display: block;
    flex: 1;
  }
}
