@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Mentor resources page horizontal scrollbar */
.mentor-resources-scroll::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}
.mentor-resources-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
