@import url("https://fonts.cdnfonts.com/css/gladiora");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
  --font-gladiora: "Gladiora", sans-serif;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.hide-message-layout-scroll::-webkit-scrollbar {
  display: none;
}

/* Mentor resources page horizontal scrollbar */
.mentor-resources-scroll::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}
.mentor-resources-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

.discussion-comms::-webkit-scrollbar {
  display: none;
}
